certifi==2018.1.18
cycler==0.10.0
decorator==4.2.1
imbalanced-learn==0.3.3
imblearn==0.0
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.1
numpy==1.22.0
pandas==0.22.0
Pillow==9.0.1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
PyWavelets==0.5.2
PyYAML==5.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.1
seaborn==0.8.1
six==1.11.0
